@charset "utf-8";

body{
  background-color: wheat;
  color: orange;
}

.breadcrumbs li {
  display: inline;
  list-style-type: none;
}

.breadcrumbs li:before{
  content: " > ";
}

.breadcrumbs li:first-child:before{
  content:"";
}

#gnav ul {
  overflow: hidden;
}

#ngav li {
  float: left;
  width: 156px;
  border-right: darkorange 1px solid;
  list-style-type: none;
}

#ngav:first-child {
  border-left: darkorange 1px solid;
}
