@charset "utf-8";

body{
  background-color: wheat;
  color: orange;
}

#logo ul {
  overflow: hidden;
}

#logo li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  list-style-type: none;
}

#logo img {
  width: 100px;
}

.breadcrumbs li {
  display: inline;
  list-style-type: none;
}

.breadcrumbs li:before{
  content: " > ";
}

.breadcrumbs li:first-child:before{
  content:"";
}

#gnav a {
  display: block;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  background: darkorange;
  color: mistyrose;
}

#gnav a:hover{
  background: goldenrod;
  color: darkgray;
}

#gnav a.selected {
  background:mistyrose;
  color:darkorange;
  font-weight: bold;
}

#gnav ul {
  overflow: hidden;
}

#gnav li {
  float: left;
  width: 156px;
  border-right: darkorange 1px solid;
  list-style-type: none;
}

#gnav:first-child {
  border-left: darkorange 1px solid;
}
