@charset "utf-8";

body{
  background-color: wheat;
  color: orange;
}

#logo ul {
  overflow: hidden;
}

#logo li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 10px;
  list-style-type: none;
}

#logo img {
  width: 50px;
}

.breadcrumbs li {
  display: inline;
  list-style-type: none;
}

.breadcrumbs li:before{
  content: " > ";
}

.breadcrumbs li:first-child:before{
  content:"";
}

#gnav a {
  display: block;
  text-align: center;
  padding 0 10px;
  text-decoration: none;
  background: darkorange;
  color: mistyrose;
}

#gnav div.img {
  display: table-cell;
  vertical-align: middle;
  background: url(../img/icon.png) no-repeat;
  width: 40px;
  height: 40px;
}

#gnav div.text {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 5px;
}

div.img#home { background-position: 0 0px;}
div.img#content1 { background-position: 0 -28px;}
div.img#content2 { background-position: 0 -56px;}
div.img#help { background-position: 0 -84px;}
div.img#faq { background-position: 0 -112px;}

#gnav a:hover{
  background: goldenrod;
  color: dimgray;
}

#gnav a.selected {
  background:mistyrose;
  color:darkorange;
  font-weight: bold;
}

#gnav ul {
  overflow: hidden;
}

#gnav li {
  float: left;
  width: 156px;
  border-right: darkorange 1px solid;
  list-style-type: none;
}

#gnav:first-child {
  border-left: darkorange 1px solid;
}
